# NPM Ignore

# ignore everything
*

# ... but these files
!/package.json
!/README.md
!/CONTRIBUTING.md
!/CODE_OF_CONDUCT.md
!/LICENSE
!/SECURITY
!/lib/bundle/dynamicproto-js.*
!/lib/dist/dynamicproto-js.js
!/lib/dist/dynamicproto-js.js.map
!/lib/dist/dynamicproto-js.min.js
!/lib/dist/dynamicproto-js.min.js.map
