# NPM Ignore

# ignore everything
*

# ... but these files
!/package.json
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/README.md
!/SECURITY
!/SECURITY.md
!/SUPPORT.md
!/NOTICE
!/PRIVACY
!/RELEASES.md
!/LICENSE
!/LICENSE.TXT
!/lib/dist/**/*
!/lib/dist-es5/**/*
!/lib/types/**/*
!/tools/rollup/dist-es5/**/*
!/tools/rollup/package.json
