# NPM Ignore

# ignore everything
*

# ... but these files
!/package.json
!/README.md
!/CONTRIBUTING.md
!/CODE_OF_CONDUCT.md
!/RELEASES.md
!/LICENSE
!/SECURITY
!/lib/dist/**/*
!/lib/docs/**/*
!/lib/types/**/*
!/tools/rollup/**/*
